@{
    ViewData["Title"] = "Edit Account";
}


@*     <% if(request.getAttribute("error") != null){%>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>There is another user with the given username.</div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    <%}%>
    <% if(request.getAttribute("accountSuccessfullyEdited") != null ||
            request.getSession().getAttribute("deleteTicketSuccessMessage") != null ||
            request.getSession().getAttribute("deleteBankCardSuccessMessage") != null ||
            request.getSession().getAttribute("bankCardCreatedAlert") != null){%>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
        </svg>
        <div class="row">
            <div class="col-12">
                <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                    <% if(request.getAttribute("accountSuccessfullyEdited") != null){ %>
                        <div>Your account information has been updated successfully!</div>
                    <%}else if(request.getSession().getAttribute("deleteTicketSuccessMessage") != null){%>
                        <div>The ticket has been refunded successfully!</div>
                        <% request.getSession().removeAttribute("deleteTicketSuccessMessage"); %>
                    <%}else if(request.getSession().getAttribute("deleteBankCardSuccessMessage") != null){%>
                        <div>The bank card was removed successfully!</div>
                        <% request.getSession().removeAttribute("deleteBankCardSuccessMessage"); %>
                    <%}else if(request.getSession().getAttribute("bankCardCreatedAlert") != null){%>
                        <div>The bank card was successfully added to your account!</div>
                        <% request.getSession().removeAttribute("bankCardCreatedAlert"); %>
                    <%}%>
                    <%--<%}else if(request.getSession().getAttribute("ticketPurchaseSuccessMessage") != null){%>
                        <div><%=request.getSession().getAttribute("ticketPurchaseSuccessMessage")%></div>
                        <% request.getSession().removeAttribute("ticketPurchaseSuccessMessage"); %>
                    <%}%>--%>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
        <% request.getSession().removeAttribute("deleteTicketSuccessMessage"); %>
    <%}%>
 *@

    <h2 class="text-center mb-4">User Account</h2>
    <form method="post" onsubmit="validateForm(event)">
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-12 mb-4 mt-1">
                        <label for="username">Account Username:</label>
                        <div class="input-group">
                            <input type="text" name="username" class="form-control"
                                   id="username" @* value="<%=user.getUsername()%>"  *@ disabled>
                            <a class="btn btn-outline-primary" id="usernameButton"
                               onclick="toggleInputField('username', 'usernameButton')">
                                <i class="fa-solid fa-pencil"></i>
                            </a>
                        </div>
                        <span id="usernameError" class="error-message"></span>
                        <input type="hidden" name="oldUsername" @* value="<%=user.getUsername()%>" *@ >
                    </div>
                    <div class="col-12 mb-4 mt-1">
                        <label for="password">Account Password:</label>
                        <div class="input-group">
                            <input type="password" name="password" class="form-control"
                                   id="password" @* value="<%=user.getPassword()%>" *@ disabled>
                            <a class="btn btn-outline-primary" id="passwordButton"
                               onclick="toggleInputField('password', 'passwordButton')">
                                <i class="fa-solid fa-pencil"></i>
                            </a>
                        </div>
                        <span id="passwordError" class="error-message"></span>
                    </div>
                    <div class="col-12 mb-4 mt-1">
                        <label for="email">Account Email:</label>
                        <div class="input-group">
                            <input type="email" name="email" class="form-control"
                                   id="email" @* value="<%=user.getEmail()%>" *@ disabled>
                            <a class="btn btn-outline-primary" id="emailButton"
                               onclick="toggleInputField('email', 'emailButton')">
                                <i class="fa-solid fa-pencil"></i>
                            </a>
                        </div>
                        <span id="emailError" class="error-message"></span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-12 mb-4 mt-1">
                        <label for="phone" class="mb-1">Account Phone Number:</label>
                        <div class="input-group">
                            <input type="tel" name="phone" class="form-control"
                                   id="phone" @* value="<%=user.getPhoneNumber()%>" *@ disabled>
                            <a class="btn btn-outline-primary" id="phoneNumberButton"
                               onclick="toggleInputField('phone', 'phoneNumberButton')">
                                <i class="fa-solid fa-pencil"></i>
                            </a>
                        </div>
                        <span id="phoneNumberError" class="error-message"></span>
                    </div>
                    <div class="col-12 mb-4 mt-1">
                        <label class="mb-1">Account Type:</label><br>
                        @* <div class="form-check form-check-inline">
                            <% if(user.getAccountType().equals("User")){ %>
                            <input checked class="form-check-input" type="radio" name="accountType"
                                   id="userAccountType" value="User">
                            <% } else { %>
                            <input class="form-check-input" type="radio" name="accountType"
                                   id="userAccountType" value="User">
                            <% } %>
                            <label class="form-check-label" for="userAccountType">User</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <% if(user.getAccountType().equals("Content Admin")){ %>
                                <input checked class="form-check-input" type="radio" name="accountType"
                                       id="contentAdminAccountType" value="Content Admin">
                            <% } else { %>
                                <input class="form-check-input" type="radio" name="accountType"
                                       id="contentAdminAccountType" value="Content Admin">
                            <% } %>
                            <label class="form-check-label" for="contentAdminAccountType">Content Admin</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <% if(user.getAccountType().equals("Admin")){ %>
                                <input checked class="form-check-input" type="radio" name="accountType"
                                       id="adminAccountType" value="Admin">
                            <% } else { %>
                                <input class="form-check-input" type="radio" name="accountType"
                                       id="adminAccountType" value="Admin">
                            <% } %>
                            <label class="form-check-label" for="adminAccountType">Admin</label>
                        </div> *@
                    </div>
                </div>
            </div>
            @* <div class="col-4">
                <h5 class="text-start">Account Tickets</h5>
                <ul class="list-group mb-4" id="ticketsList">
                    <% for (Ticket ticket : user.getTickets()) { %>
                    <li class="list-group-item">
                        <div class="d-flex align-items-center justify-content-between">
                            Ticket ID: <%=ticket.getTicketId()%> <br>
                            Title: <%=ProjectionDataAccess.getProjection(ticket.getProjectionId()).getFilmTitle()%> <br>
                            Date: <%=ProjectionDataAccess.getProjection(ticket.getProjectionId()).getStartingTime()%> <br>
                            Seat: <%=ticket.getSeat()%>
                            <div>
                                <a class="btn btn-danger ms-1" data-bs-toggle="modal" data-bs-target="#deleteModal-<%=ticket.getTicketId()%>">
                                    <i class="fa-solid fa-trash-can"></i></a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal-<%=ticket.getTicketId()%>" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalTitle-<%=ticket.getTicketId()%>">Refund Ticket Dialog</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="text-align: left;">
                                            Are you sure you want to refund this ticket?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger ms-1"
                                               href="/deleteTicket?ticketId=<%=ticket.getTicketId()%>">
                                                Confirm Refund</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <%}%>
                </ul>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="mb-0">Account BankCards</h5>
                    <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#createBankCardModal">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
                <ul class="list-group" id="bankCardsList">
                    <% for (BankCard bankCard : user.getBankCards()) { %>
                    <li class="list-group-item">
                        <div class="d-flex align-items-center justify-content-between">
                            Number: <%=bankCard.getCardNumber()%>
                            <div>
                                <a class="btn btn-primary ms-3" href="/editBankCard?bankCardNumber=<%=bankCard.getCardNumber()%>">
                                    <i class="fa fa-eye" aria-hidden="true"></i></a>
                                <a class="btn btn-danger ms-1" data-bs-toggle="modal" data-bs-target="#deleteModal-<%=bankCard.getCardNumber()%>">
                                    <i class="fa-solid fa-trash-can"></i></a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal-<%=bankCard.getCardNumber()%>" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalTitle-<%=bankCard.getCardNumber()%>">Remove BankCard Dialog</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="text-align: left;">
                                            Are you sure you want to remove this bankcard?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger ms-1"
                                               href="/deleteBankCard?bankCardNumber=<%=bankCard.getCardNumber()%>">
                                                Confirm Removal</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <%}%>
                </ul>
            </div> *@
            <div class="d-flex justify-content-center mt-5">
                <button type="submit" onclick="enableAll()" class="btn btn-primary" style="width: 20%;">Confirm Changes</button>
            </div>
        </div>
    </form>
<!-- Modal To Add BankCard -->
<div class="modal fade" id="createBankCardModal" tabindex="-1">
    <form id="createBankCardForm" method="post" onsubmit="validateBankCardForm(event)"
          action="/films/createBankCard">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createProjectionTitle">New BankCard Form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: left;">

                    <div class="container">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="cardNumber" class="form-label">Card Number:</label>
                                <input type="text" class="form-control" id="cardNumber"
                                       name="cardNumber">
                                <span id="cardNumberError" class="error-message"></span>
                            </div>
                            <div class=" col-12 mb-3">
                                <label for="cardHolderName" class="form-label">CardHolder Name:</label>
                                <input type="text" class="form-control" id="cardHolderName"
                                       name="cardHolderName">
                                <span id="cardHolderNameError" class="error-message"></span>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label for="cvc" class="form-label">CVC:</label>
                                    <input type="password" class="form-control" id="cvc" name="cvc">
                                    <span id="cvcError" class="error-message"></span>
                                </div>
                                <div class="col-6">
                                    <label for="expirationDate" class="form-label">ExpirationDate:</label>
                                    <input type="month" class="form-control" id="expirationDate" name="expirationDate">
                                    <span id="expirationDateError" class="error-message"></span>
                                </div>
                            </div>
                            <input name="userUsername" value="<%= user.getUsername() %>" type="hidden">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add BankCard</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        //edit button functionality
        function toggleInputField(inputId, buttonId) {
            let inputField = document.getElementById(inputId);
            let button = document.getElementById(buttonId);

            if (inputField && button) {
                if (inputField.disabled) {
                    inputField.disabled = false;
                    button.innerHTML = '<i class="fa-solid fa-check"></i>';
                } else {
                    inputField.disabled = true;
                    button.innerHTML = '<i class="fa-solid fa-pencil"></i>';
                }
            }
        }

        //enable all the fields, if that does not happen then the values will not be sent to the servlet
        function enableAll() {
            document.getElementById("username").disabled = false;
            document.getElementById("password").disabled = false;
            document.getElementById("email").disabled = false;
            document.getElementById("phone").disabled = false;
        }
    </script>
}

